@import "tailwindcss";
@import 'tw-animate-css';

@theme {
  --color-primary: #3b82f6;
  --color-primary-foreground: #ffffff;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #ffffff;
}

@layer base {
  :root {
    --accent: 217 91% 60%;
  }
}

.nextra-banner-container {
  @apply bg-[linear-gradient(1deg,#383838,#212121)];
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
