@import 'tailwindcss';
@import 'tw-animate-css';

@layer l-base {
  :root {
    --accent: 217 91% 60%;
  }
}

.nextra-banner-container {
  @apply bg-[linear-gradient(1deg,#383838,#212121)];
}

/* Code block container */
.nextra-code > div:first-child {
  background-color: hsl(var(--primary) / 0.1);
  border: none;
}

.nextra-code pre {
  background-color: hsl(var(--primary) / 0.05);
  box-shadow: none;
}
